# Dependency directories
/node_modules
/.pnp
.pnp.js
# Yarn specific
.yarn/install-state.gz
# Test coverage
/coverage
# Next.js
/.next/
/out/
/build
next-env.d.ts
# Vercel
.vercel/
# macOS
.DS_Store
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Environment files
*.env
.env*.local
# Certificates
*.pem
# TypeScript build info
*.tsbuildinfo