@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "tailwindcss";
:root {
  --background: #202123;
  --foreground: #e0e0e0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #202123;
    --foreground: #e0e0e0;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #2d2d30;
}
::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Blue color */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #2d2d30; /* Blue thumb, dark track */
}
